body {
    background-color: #f8f9fa;
}
.navbar-brand {
    font-weight: bold;
}
.card:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
}
.btn-success {
    background-color: #198754;
    border-color: #198754;
}